$message-height: 40px;
$message-width: 100%;
$message-padding: 8px 16px;
$message-border-radius: 8px;

.success {
    height: $message-height;
    width: $message-width;
    padding: $message-padding;
    background-color: aquamarine;
    border-radius: $message-border-radius;
}

.notice {
    height: $message-height;
    width: $message-width;
    padding: $message-padding;
    background-color: lemonchiffon;
    border-radius: $message-border-radius;
}

.fail {
    height: $message-height;
    width: $message-width;
    padding: $message-padding;
    background-color: mistyrose;
    border-radius: $message-border-radius;
}
