/* All */
main{
    background-image: url("/images/bg-image.jpg");
    background-repeat: repeat;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-box {
    margin-top: 5px;
}

.search-body {
    background: #FBFDFF;
    border: 1px solid #000000;
    border-radius: 30px;
    display: block;
}

  /* Drop List */
.drop-list {
    width: 95%;
    margin-left: 2em;
}

  /* Category Search */
.category-search {
    background: #FBFDFF;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    width: 95%;
    margin: 2em;
}

.category-label {
    width: 7em;
    text-align: center;
    margin-right: 20px;
    margin-top: 5px;
    padding: 3px;
    border: 1px solid rgb(98, 97, 97);
    cursor: pointer;
    border-radius: 20px;
}

.category-label:hover {
    background-color: orange;
}

.category-tag {
    display: none;
}

.category-tag:checked + .category-tag-text {
    color: red;
    font-weight: bold;
    text-shadow: 1px 1px 0.5px gray;
}



  /* Area Search */
.area-search {
    background: #FBFDFF;
    border: 1px solid #000000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    position: relative;
    width: 95%;
    margin-left: 2em;
    margin-right: 2em;
}

.area-label {
    width: 85px;
    text-align: center;
    margin-right: 20px;
    margin-top: 5px;
    padding: 3px;
    border: 1px solid rgb(98, 97, 97);
    cursor: pointer;
    border-radius: 20px;
}

.area-label:hover {
    background-color: #f9f371;
}

.area-tag {
    display: none;
}

.area-tag:checked + .area-tag-text {
    color: red;
    font-weight: bold;
    text-shadow: 1px 1px 0.5px gray;
}

  /* Prefecture belongs to Genre */
.prefecture-check {
    display: none;
}

.prefecture-nav-label {
    background: #f9f371;
    border: 1px solid #000000;
    border-top: none;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

.prefecture-nav-label:hover {
    font-weight: bolder;
    background: gold;
}

.prefecture-content {
    border: 0.5px solid #333;
    height: 0;
    transition: 0.5s;
    visibility: hidden;
}

.prefecture-check:checked + .prefecture-nav-label + .prefecture-content {
    height: fit-content;
    background: cornsilk;
    opacity: 1;
    padding: 8px;
    visibility: visible;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.prefecture-label {
    /* width: 7em; */
    text-align: center;
    background: white;
    margin-right: 20px;
    margin-top: 5px;
    padding: 3px;
    border: 1px solid rgb(98, 97, 97);
    cursor: pointer;
    border-radius: 20px;
}

.prefecture-label:hover {
    background-color: gold;
}

.prefecture-tag {
    display: none;
}

.prefecture-tag:checked + .prefecture-tag-text  {
    color: red;
    font-weight: bold;
    text-shadow: 1px 1px 0.5px gray;
}

/* Genre Search */
.genre-search {
    background: #FBFDFF;
    border: 1px solid #000000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    position: relative;
    width: 95%;
    margin-left: 2em;
    margin-right: 2em;
}

.genre-label {
    width: 7em;
    text-align: center;
    margin-right: 20px;
    margin-top: 5px;
    padding: 3px;
    border: 1px solid rgb(98, 97, 97);
    cursor: pointer;
    border-radius: 20px;
}

.genre-label:hover {
    background-color: #48c1a2;
}

.genre-tag {
    display: none;
}

.genre-tag:checked + .genre-tag-text {
    color: red;
    font-weight: bold;
    text-shadow: 1px 1px 0.5px gray;
}

/* Keyword belongs to Genre */
.keyword-check {
    display: none;
}

.keyword-nav-label {
    background: #48c1a2;
    color: #fff;
    border: 1px solid #000000;
    border-top: none;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

.keyword-nav-label:hover {
    font-weight: bolder;
    background:mediumseagreen;
}

.keyword-content {
    border: 0.5px solid #333;
    height: 0;
    transition: 0.5s;
    visibility: hidden;
}

.keyword-check:checked + .keyword-nav-label + .keyword-content {
    height: fit-content;
    background: rgb(218, 246, 218);
    opacity: 1;
    padding: 8px;
    visibility: visible;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Keyword-tag */
.keyword-label {
    /* width: 7em; */
    text-align: center;
    background: white;
    margin-right: 20px;
    margin-top: 5px;
    padding: 3px;
    border: 1px solid rgb(98, 97, 97);
    cursor: pointer;
    border-radius: 20px;
}

.keyword-label:hover {
    background-color: greenyellow;
}

.keyword-tag {
    display: none;
}

.keyword-tag:checked + .keyword-tag-text {
    color: red;
    font-weight: bold;
    text-shadow: 1px 1px 0.5px gray;
}

  /* Place-Image */
.place-img {
    object-fit: cover;
    height: 200px;
    width: 320px;
}

/* Button */
.cancel-button {
    color: #eee;
    background: rgb(140, 138, 138);
    border-radius: 20px;
    padding: 8px 20px;
}

.cancel-button:hover {
    background:rgb(218, 214, 214); 
    color: black;
}

.submit-button {
    background: #eee;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 260px;
    padding: 10px 25px;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 500;
}

.submit-button:hover {
    background: #313131;
    color: #FFF;
}